In [3]:
import pandas as pd
import numpy as np
import os
os.chdir('C:/Users/Mahendranath')

In [4]:
## Pandas
## Numpy
## SKlearn
## Matplotlib

In [5]:
train=pd.read_csv('./mlapp/train.csv')
train.Loan_Status=train.Loan_Status.map({'Y':1,'N':0})

## Check the missing Values in data

In [6]:
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

## Preprocessing on the data

In [7]:
Loan_status=train.Loan_Status
#train.drop('Loan_Status',axis=1,inplace=True)
test=pd.read_csv('./mlapp/test.csv')
Loan_ID=test.Loan_ID
data=train.append(test)
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,1.0
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,0.0
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,1.0
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,1.0
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,1.0

In [8]:
data.shape

(981, 13)

In [9]:
data.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status
count,981.000000,981.000000,954.000000,961.000000,902.000000,614.000000
mean,5179.795107,1601.916330,142.511530,342.201873,0.835920,0.687296
std,5695.104533,2718.772806,77.421743,65.100602,0.370553,0.463973
min,0.000000,0.000000,9.000000,6.000000,0.000000,0.000000
25%,2875.000000,0.000000,100.000000,360.000000,1.000000,0.000000
50%,3800.000000,1110.000000,126.000000,360.000000,1.000000,1.000000
75%,5516.000000,2365.000000,162.000000,360.000000,1.000000,1.000000
max,81000.000000,41667.000000,700.000000,480.000000,1.000000,1.000000

In [10]:
data.isnull().sum()

Loan_ID                0
Gender                24
Married                3
Dependents            25
Education              0
Self_Employed         55
ApplicantIncome        0
CoapplicantIncome      0
LoanAmount            27
Loan_Amount_Term      20
Credit_History        79
Property_Area          0
Loan_Status          367
dtype: int64

In [11]:
data.Dependents.dtypes

dtype('O')

In [12]:
# import matplotlib.pyplot as plt
# import seaborn as sns

# %matplotlib inline 
# corrmat=data.corr()
# f,ax=plt.subplots(figsize=(9,9))
# sns.heatmap(corrmat,vmax=.8,square=True)

## Label ENcode

In [13]:
## Label encoding for gender
data.Gender=data.Gender.map({'Male':1,'Female':0})
data.Gender.value_counts()

1.0    775
0.0    182
Name: Gender, dtype: int64

In [14]:
## Let's see correlations
# '''corrmat=data.corr()
# f,ax=plt.subplots(figsize=(9,9))
# sns.heatmap(corrmat,vmax=.8,square=True)'''

In [15]:
## Labelling 0 & 1 for Marrital status
data.Married=data.Married.map({'Yes':1,'No':0})

In [16]:
data.Married.value_counts()

1.0    631
0.0    347
Name: Married, dtype: int64

In [17]:
## Labelling 0 & 1 for Dependents
data.Dependents=data.Dependents.map({'0':0,'1':1,'2':2,'3+':3})

In [18]:
data.Dependents.value_counts()

0.0    545
2.0    160
1.0    160
3.0     91
Name: Dependents, dtype: int64

In [19]:
## Let's see correlations for it
# '''corrmat=data.corr()
# f,ax=plt.subplots(figsize=(9,9))
# sns.heatmap(corrmat,vmax=.8,square=True)'''

In [20]:
## Labelling 0 & 1 for Education Status
data.Education=data.Education.map({'Graduate':1,'Not Graduate':0})

In [21]:
data.Education.value_counts()

1    763
0    218
Name: Education, dtype: int64

In [22]:
## Labelling 0 & 1 for Employment status
data.Self_Employed=data.Self_Employed.map({'Yes':1,'No':0})

In [23]:
data.Self_Employed.value_counts()

0.0    807
1.0    119
Name: Self_Employed, dtype: int64

In [24]:
data.Property_Area.value_counts()

Semiurban    349
Urban        342
Rural        290
Name: Property_Area, dtype: int64

In [25]:
## Labelling 0 & 1 for Property area
data.Property_Area=data.Property_Area.map({'Urban':2,'Rural':0,'Semiurban':1})

In [26]:
data.Property_Area.value_counts()

1    349
2    342
0    290
Name: Property_Area, dtype: int64

In [27]:
# '''corrmat=data.corr()
# f,ax=plt.subplots(figsize=(9,9))
# sns.heatmap(corrmat,vmax=.8,square=True)'''

In [28]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1.0,0.0,0.0,1,0.0,5849,0.0,NaN,360.0,1.0,2,1.0
1,LP001003,1.0,1.0,1.0,1,0.0,4583,1508.0,128.0,360.0,1.0,0,0.0
2,LP001005,1.0,1.0,0.0,1,1.0,3000,0.0,66.0,360.0,1.0,2,1.0
3,LP001006,1.0,1.0,0.0,0,0.0,2583,2358.0,120.0,360.0,1.0,2,1.0
4,LP001008,1.0,0.0,0.0,1,0.0,6000,0.0,141.0,360.0,1.0,2,1.0

In [29]:
data.Credit_History.size

981

In [30]:
data['Credit_History'].fillna(data['Credit_History'].mode()[0],inplace=True)

NameError: name 'dataset' is not defined

In [ ]:
data.isnull().sum()

In [ ]:
data.Married.fillna(np.random.randint(0,2),inplace=True)

In [ ]:
data.isnull().sum()

In [ ]:
## Filling with median
data.LoanAmount.fillna(data.LoanAmount.median(),inplace=True)

In [ ]:
## Filling with mean
data.Loan_Amount_Term.fillna(data.Loan_Amount_Term.mean(),inplace=True)

In [ ]:
data.isnull().sum()

In [ ]:
data.Gender.value_counts()

In [ ]:
## Filling Gender with random number between 0-2
from random import randint 
data.Gender.fillna(np.random.randint(0,2),inplace=True)

In [ ]:
data.Gender.value_counts()

In [ ]:
## Filling Dependents with median
data.Dependents.fillna(data.Dependents.median(),inplace=True)

In [ ]:
data.isnull().sum()

In [ ]:
# '''corrmat=data.corr()
# f,ax=plt.subplots(figsize=(9,9))
# sns.heatmap(corrmat,vmax=.8,square=True)'''

In [ ]:
data.Self_Employed.fillna(np.random.randint(0,2),inplace=True)

In [ ]:
data.isnull().sum()

In [ ]:
data.head()

In [ ]:
## Dropping Loan ID from data, it's not useful
data.drop('Loan_ID',inplace=True,axis=1)

In [ ]:
data.isnull().sum()

In [ ]:
data.head()

## Split the Data into X & Y

In [ ]:
train_X=data.iloc[:614,] ## all the data in X (Train set)
train_y=Loan_status  ## Loan status will be our Y

In [ ]:
from sklearn.model_selection import train_test_split
train_X,test_X,train_y,test_y=train_test_split(train_X,train_y,random_state=0)

In [ ]:
#sc_f = ['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term']
#sc_f = ['ApplicantIncome','CoapplicantIncome','LoanAmount']
train_X.head()

In [ ]:
# train_X.head()

In [ ]:
test_X.head()

## Using Different types of Machine Learning Model

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

## Fit the all ML Models

In [ ]:
models=[]
models.append(("Logistic Regression",LogisticRegression()))
models.append(("Decision Tree",DecisionTreeClassifier()))
models.append(("Linear Discriminant Analysis",LinearDiscriminantAnalysis()))
models.append(("Random Forest",RandomForestClassifier()))
models.append(("Support Vector Classifier",SVC()))
models.append(("K- Neirest Neighbour",KNeighborsClassifier()))
models.append(("Naive Bayes",GaussianNB()))

In [ ]:
scoring='accuracy'

In [ ]:
from sklearn.model_selection import KFold 
from sklearn.model_selection import cross_val_score
result=[]
names=[]

In [ ]:
for name,model in models:
    kfold=KFold(n_splits=10)
    cv_result=cross_val_score(model,train_X,train_y,cv=kfold,scoring=scoring)
    result.append(cv_result)
    names.append(name)
    print(model)
    print("%s %f" % (name,cv_result.mean()))

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

LR=LogisticRegression()
LR.fit(train_X,train_y)
pred=LR.predict(test_X)
print("Model Accuracy:- ",accuracy_score(test_y,pred))
print(confusion_matrix(test_y,pred))
print(classification_report(test_y,pred))

In [ ]:
print(pred)

In [ ]:
X_test=data.iloc[614:,] 
# X_test[sc_f]=SC.fit_transform(X_test[sc_f])

In [ ]:
X_test.head()

In [ ]:
prediction = LR.predict(X_test)

In [ ]:
print(prediction)

In [ ]:
## TAken data from the dataset
t = LR.predict([[0.0,	0.0,	0.0,	1,	0.0,	1811,	1666.0,	540.0,	360.0,	1.0,	2]])

In [ ]:
print(t)

In [ ]:
import pickle
# now you can save it to a file
file = 'C:/Users/Mahendranath/mlapp/Model/ML_Model.pkl'
with open(file, 'wb') as f:
    pickle.dump(LR, f)

In [ ]:
with open(file, 'rb') as f:
    k = pickle.load(f)

In [ ]:
cy = k.predict([[0.0,	0.0,	0.0,	1,	0.0,	4230,	0.0,	112.0,	360.0,	1.0,	1]])
print(cy)