In [85]:
import pandas as pd
import numpy as np
import os
os.chdir('C:/Users/Mahendranath')

In [87]:
data=pd.read_csv('./ml1/train1.csv')

## Check the missing Values in data

In [88]:
data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
Loan                 22
dtype: int64

## Preprocessing on the data

In [89]:
data.drop('Loan',axis=1,inplace=True)
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,6400.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,3300.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,6000.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,7050.0,360.0,1.0,Urban,Y

In [90]:
data.shape

(614, 13)

In [91]:
data.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,7320.608108,342.00000,0.842199
std,6109.041673,2926.248369,4279.366262,65.12041,0.364878
min,150.000000,0.000000,450.000000,12.00000,0.000000
25%,2877.500000,0.000000,5000.000000,360.00000,1.000000
50%,3812.500000,1188.500000,6400.000000,360.00000,1.000000
75%,5795.000000,2297.250000,8400.000000,360.00000,1.000000
max,81000.000000,41667.000000,35000.000000,480.00000,1.000000

In [92]:
data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [93]:
data.Dependents.dtypes

dtype('O')

## Label ENcode

In [95]:
## Label encoding for gender
data.Gender=data.Gender.map({'Male':1,'Female':0})
data.Gender.value_counts()

1.0    489
0.0    112
Name: Gender, dtype: int64

In [96]:
Loan_Status=data.Loan_Status
data.Loan_Status=data.Loan_Status.map({'Y':1,'N':0})
data.Loan_Status.value_counts()

1    422
0    192
Name: Loan_Status, dtype: int64

In [98]:
## Labelling 0 & 1 for Marrital status
data.Married=data.Married.map({'Yes':1,'No':0})

In [99]:
data.Married.value_counts()

1.0    398
0.0    213
Name: Married, dtype: int64

In [100]:
## Labelling 0 & 1 for Dependents
data.Dependents=data.Dependents.map({'0':0,'1':1,'2':2,'3+':3})

In [101]:
data.Dependents.value_counts()

0.0    345
1.0    102
2.0    101
3.0     51
Name: Dependents, dtype: int64

In [103]:
## Labelling 0 & 1 for Education Status
data.Education=data.Education.map({'Graduate':1,'Not Graduate':0})

In [104]:
# data.Education.value_counts()

In [105]:
## Labelling 0 & 1 for Employment status
data.Self_Employed=data.Self_Employed.map({'Yes':1,'No':0})

In [106]:
data.Self_Employed.value_counts()

0.0    500
1.0     82
Name: Self_Employed, dtype: int64

In [107]:
data.Property_Area.value_counts()

Semiurban    233
Urban        202
Rural        179
Name: Property_Area, dtype: int64

In [108]:
## Labelling 0 & 1 for Property area
data.Property_Area=data.Property_Area.map({'Urban':2,'Rural':0,'Semiurban':1})

In [109]:
data.Property_Area.value_counts()

1    233
2    202
0    179
Name: Property_Area, dtype: int64

In [110]:
data['LoanAmount_log']=np.log(data['LoanAmount'])

In [112]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,LoanAmount_log
0,LP001002,1.0,0.0,0.0,1,0.0,5849,0.0,NaN,360.0,1.0,2,1,NaN
1,LP001003,1.0,1.0,1.0,1,0.0,4583,1508.0,6400.0,360.0,1.0,0,0,8.764053
2,LP001005,1.0,1.0,0.0,1,1.0,3000,0.0,3300.0,360.0,1.0,2,1,8.101678
3,LP001006,1.0,1.0,0.0,0,0.0,2583,2358.0,6000.0,360.0,1.0,2,1,8.699515
4,LP001008,1.0,0.0,0.0,1,0.0,6000,0.0,7050.0,360.0,1.0,2,1,8.860783

In [113]:
data.Credit_History.size

614

In [114]:
data['Gender'].fillna(data['Gender'].mode()[0],inplace=True)

data['Married'].fillna(data['Married'].mode()[0],inplace=True)

data['Dependents'].fillna(data['Dependents'].mode()[0],inplace=True)

data['Self_Employed'].fillna(data['Self_Employed'].mode()[0],inplace=True)

data.LoanAmount=data.LoanAmount.fillna(data.LoanAmount.mean())
data.LoanAmount_log=data.LoanAmount_log.fillna(data.LoanAmount_log.mean())


data['Loan_Amount_Term'].fillna(data['Loan_Amount_Term'].mode()[0],inplace=True)

data['Credit_History'].fillna(data['Credit_History'].mode()[0],inplace=True)

In [115]:
data['TotalIncome']=data['ApplicantIncome']+data['CoapplicantIncome']
data['TotalIncome_log']=np.log(data['TotalIncome'])

In [116]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,LoanAmount_log,TotalIncome,TotalIncome_log
0,LP001002,1.0,0.0,0.0,1,0.0,5849,0.0,7320.608108,360.0,1.0,2,1,8.769467,5849.0,8.674026
1,LP001003,1.0,1.0,1.0,1,0.0,4583,1508.0,6400.000000,360.0,1.0,0,0,8.764053,6091.0,8.714568
2,LP001005,1.0,1.0,0.0,1,1.0,3000,0.0,3300.000000,360.0,1.0,2,1,8.101678,3000.0,8.006368
3,LP001006,1.0,1.0,0.0,0,0.0,2583,2358.0,6000.000000,360.0,1.0,2,1,8.699515,4941.0,8.505323
4,LP001008,1.0,0.0,0.0,1,0.0,6000,0.0,7050.000000,360.0,1.0,2,1,8.860783,6000.0,8.699515

In [118]:
data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
LoanAmount_log       0
TotalIncome          0
TotalIncome_log      0
dtype: int64

In [119]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,LoanAmount_log,TotalIncome,TotalIncome_log
0,LP001002,1.0,0.0,0.0,1,0.0,5849,0.0,7320.608108,360.0,1.0,2,1,8.769467,5849.0,8.674026
1,LP001003,1.0,1.0,1.0,1,0.0,4583,1508.0,6400.000000,360.0,1.0,0,0,8.764053,6091.0,8.714568
2,LP001005,1.0,1.0,0.0,1,1.0,3000,0.0,3300.000000,360.0,1.0,2,1,8.101678,3000.0,8.006368
3,LP001006,1.0,1.0,0.0,0,0.0,2583,2358.0,6000.000000,360.0,1.0,2,1,8.699515,4941.0,8.505323
4,LP001008,1.0,0.0,0.0,1,0.0,6000,0.0,7050.000000,360.0,1.0,2,1,8.860783,6000.0,8.699515

In [120]:
data.Loan_Status

0      1
1      0
2      1
3      1
4      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 614, dtype: int64

## Split the Data into X & Y

In [121]:
x=data.iloc[:,np.r_[1:5,9:11,13,15]].values
y=data.iloc[:,12].values

In [122]:
x

array([[1.        , 0.        , 0.        , ..., 1.        , 8.76946718,
        8.67402599],
       [1.        , 1.        , 1.        , ..., 1.        , 8.76405327,
        8.71456755],
       [1.        , 1.        , 0.        , ..., 1.        , 8.10167775,
        8.00636757],
       ...,
       [1.        , 1.        , 1.        , ..., 1.        , 9.44541249,
        9.02545553],
       [1.        , 1.        , 2.        , ..., 1.        , 9.14313162,
        8.93366418],
       [0.        , 0.        , 0.        , ..., 0.        , 8.80237213,
        8.43010908]])

In [123]:
y

array([1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0],
      dtype=int64)

In [124]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=0)

## Using Different types of Machine Learning Model

In [132]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

## Fit the all ML Models

In [133]:
models=[]
models.append(("Logistic Regression",LogisticRegression()))
models.append(("Decision Tree",DecisionTreeClassifier()))
models.append(("Linear Discriminant Analysis",LinearDiscriminantAnalysis()))
models.append(("Random Forest",RandomForestClassifier()))
models.append(("Support Vector Classifier",SVC()))
models.append(("K- Neirest Neighbour",KNeighborsClassifier()))
models.append(("Naive Bayes",GaussianNB()))

In [134]:
scoring='accuracy'

In [135]:
from sklearn.model_selection import KFold 
from sklearn.model_selection import cross_val_score
result=[]
names=[]

In [136]:
for name,model in models:
    kfold=KFold(n_splits=10)
    cv_result=cross_val_score(model,x_train,y_train,cv=kfold,scoring=scoring)
    result.append(cv_result)
    names.append(name)
    print(model)
    print("%s %f" % (name,cv_result.mean()))

C:\Users\Mahendranath\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()
Logistic Regression 0.804449
DecisionTreeClassifier()
Decision Tree 0.702653
LinearDiscriminantAnalysis()
Linear Discriminant Analysis 0.804449
RandomForestClassifier()
Random Forest 0.761592
SVC()
Support Vector Classifier 0.676163
KNeighborsClassifier()
K- Neirest Neighbour 0.747306
GaussianNB()
Naive Bayes 0.800367

In [137]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

LR=LogisticRegression()
LR.fit(x_train,y_train)

pred=LR.predict(x_test)

print("Model Accuracy:- ",accuracy_score(y_test,pred))
print(confusion_matrix(y_test,pred))
print(classification_report(y_test,pred))

Model Accuracy:-  0.8292682926829268
[[14 19]
 [ 2 88]]
              precision    recall  f1-score   support

           0       0.88      0.42      0.57        33
           1       0.82      0.98      0.89        90

    accuracy                           0.83       123
   macro avg       0.85      0.70      0.73       123
weighted avg       0.84      0.83      0.81       123

In [138]:
print(pred)

[1 1 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 0 0 1 1 1 1 1 0 1
 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 0 0 1 1 1 1 1 0 1]

In [141]:
testdata=pd.read_csv('./ml1/test1.csv')

In [142]:
testdata.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan
0,LP001015,Male,Yes,0,Graduate,No,5720,0,5500.0,360.0,1.0,Urban,110.0
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,6300.0,360.0,1.0,Urban,126.0
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,10400.0,360.0,1.0,Urban,208.0
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,5000.0,360.0,NaN,Urban,100.0
4,LP001051,Male,No,0,Not Graduate,No,3276,0,3900.0,360.0,1.0,Urban,78.0

In [143]:
testdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            367 non-null    object
 1   Gender             356 non-null    object
 2   Married            367 non-null    object
 3   Dependents         357 non-null    object
 4   Education          367 non-null    object
 5   Self_Employed      344 non-null    object
 6   ApplicantIncome    367 non-null    int64
 7   CoapplicantIncome  367 non-null    int64
 8   LoanAmount         363 non-null    float64
 9   Loan_Amount_Term   361 non-null    float64
 10  Credit_History     338 non-null    float64
 11  Property_Area      367 non-null    object
 12  Loan               362 non-null    float64
dtypes: float64(4), int64(2), object(7)
memory usage: 37.4+ KB

In [144]:
testdata.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            4
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
Loan                  5
dtype: int64

In [145]:
testdata.drop('Loan',axis=1,inplace=True)
testdata['Gender'].fillna(testdata['Gender'].mode()[0],inplace=True)
testdata['Dependents'].fillna(testdata['Dependents'].mode()[0],inplace=True)
testdata['Self_Employed'].fillna(testdata['Self_Employed'].mode()[0],inplace=True)
testdata['Loan_Amount_Term'].fillna(testdata['Loan_Amount_Term'].mode()[0],inplace=True)
testdata['Credit_History'].fillna(testdata['Credit_History'].mode()[0],inplace=True)

In [146]:
testdata.Gender=testdata.Gender.map({'Male':1,'Female':0})
testdata.Married=testdata.Married.map({'Yes':1,'No':0})
testdata.Dependents=testdata.Dependents.map({'0':0,'1':1,'2':2,'3+':3})
testdata.Education=testdata.Education.map({'Graduate':1,'Not Graduate':0})
testdata.Self_Employed=testdata.Self_Employed.map({'Yes':1,'No':0})
testdata.Property_Area=testdata.Property_Area.map({'Urban':2,'Rural':0,'Semiurban':1})

In [147]:
testdata.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           4
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [148]:
testdata.LoanAmount=testdata.LoanAmount.fillna(testdata.LoanAmount.mean())
testdata['LoanAmount_log']=np.log(testdata['LoanAmount'])

C:\Users\Mahendranath\anaconda3\lib\site-packages\pandas\core\arraylike.py:358: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [149]:
testdata.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
LoanAmount_log       0
dtype: int64

In [150]:
testdata['TotalIncome']=testdata['ApplicantIncome']+testdata['CoapplicantIncome']
testdata['TotalIncome_log']=np.log(testdata['TotalIncome'])

In [151]:
testdata.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,LoanAmount_log,TotalIncome,TotalIncome_log
0,LP001015,1,1,0,1,0,5720,0,5500.0,360.0,1.0,2,8.612503,5720,8.651724
1,LP001022,1,1,1,1,0,3076,1500,6300.0,360.0,1.0,2,8.748305,4576,8.428581
2,LP001031,1,1,2,1,0,5000,1800,10400.0,360.0,1.0,2,9.249561,6800,8.824678
3,LP001035,1,1,2,1,0,2340,2546,5000.0,360.0,1.0,2,8.517193,4886,8.494129
4,LP001051,1,0,0,0,0,3276,0,3900.0,360.0,1.0,2,8.268732,3276,8.094378

In [152]:
testdata.shape

(367, 15)

In [153]:
test=testdata.iloc[:,np.r_[1:5,9:11,12,14]].values
test[0]

array([  1.        ,   1.        ,   0.        ,   1.        ,
       360.        ,   1.        ,   8.61250337,   8.65172408])

In [165]:
## TAken data from the dataset
t = LR.predict([[1, 0, 0, 0, 360, 0, 6.907755278982137, 9.210340371976184]])

In [166]:
print(t)

[0]

In [162]:
import pickle
# now you can save it to a file
file = 'C:/Users/Mahendranath/ml1/Model/ML_1.pkl'
with open(file, 'wb') as f:
    pickle.dump(LR, f)

In [163]:
with open(file, 'rb') as f:
    k = pickle.load(f)

In [164]:
cy = k.predict([[1, 1, 0, 0, 360, 1, 4.70004803657924117, 8.6517240800000]])
print(cy)

[1]